extends ./layout.jade

block title
    title Eray Aydın &middot; Homepage

block body
    section
        .container-fluid
            .row
                .col-md-4
                    .panel.panel-primary
                        .panel-heading
                            h3.panel-title Example Lab Heading
                        .panel-body
                            figure
                                img(src="http://placehold.it/1800x700").img-responsive.img-thumbnail
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras elit nisl, porta non dictum et, consectetur vel felis. Aenean sed elit urna. Maecenas interdum non mi vitae posuere. Sed auctor consequat tellus. Nam non efficitur libero, a suscipit arcu. Curabitur orci risus, ornare et eros a, fermentum vulputate mauris. Praesent euismod mi consequat semper sollicitudin. Pellentesque id consectetur ex.
                        .panel-footer.text-right
                            a.btn.btn-default Repo <i class="fa fa-github"></i>
                            &nbsp;
                            a.btn.btn-default Source <i class="fa fa-save"></i>
                            &nbsp;
                            a.btn.btn-primary Demo <i class="fa fa-eye"></i>
                .col-md-4
                    .panel.panel-primary
                        .panel-heading
                            h3.panel-title Example Lab Heading
                        .panel-body
                            figure
                                img(src="http://placehold.it/1800x700").img-responsive.img-thumbnail
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras elit nisl, porta non dictum et, consectetur vel felis. Aenean sed elit urna. Maecenas interdum non mi vitae posuere. Sed auctor consequat tellus. Nam non efficitur libero, a suscipit arcu. Curabitur orci risus, ornare et eros a, fermentum vulputate mauris. Praesent euismod mi consequat semper sollicitudin. Pellentesque id consectetur ex.
                        .panel-footer.text-right
                            a.btn.btn-default Repo <i class="fa fa-github"></i>
                            &nbsp;
                            a.btn.btn-default Source <i class="fa fa-save"></i>
                            &nbsp;
                            a.btn.btn-primary Demo <i class="fa fa-eye"></i>
                .col-md-4
                    .panel.panel-primary
                        .panel-heading
                            h3.panel-title Example Lab Heading
                        .panel-body
                            figure
                                img(src="http://placehold.it/1800x700").img-responsive.img-thumbnail
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras elit nisl, porta non dictum et, consectetur vel felis. Aenean sed elit urna. Maecenas interdum non mi vitae posuere. Sed auctor consequat tellus. Nam non efficitur libero, a suscipit arcu. Curabitur orci risus, ornare et eros a, fermentum vulputate mauris. Praesent euismod mi consequat semper sollicitudin. Pellentesque id consectetur ex.
                        .panel-footer.text-right
                            a.btn.btn-default Repo <i class="fa fa-github"></i>
                            &nbsp;
                            a.btn.btn-default Source <i class="fa fa-save"></i>
                            &nbsp;
                            a.btn.btn-primary Demo <i class="fa fa-eye"></i>
                .col-md-4
                    .panel.panel-primary
                        .panel-heading
                            h3.panel-title Example Lab Heading
                        .panel-body
                            figure
                                img(src="http://placehold.it/1800x700").img-responsive.img-thumbnail
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras elit nisl, porta non dictum et, consectetur vel felis. Aenean sed elit urna. Maecenas interdum non mi vitae posuere. Sed auctor consequat tellus. Nam non efficitur libero, a suscipit arcu. Curabitur orci risus, ornare et eros a, fermentum vulputate mauris. Praesent euismod mi consequat semper sollicitudin. Pellentesque id consectetur ex.
                        .panel-footer.text-right
                            a.btn.btn-default Repo <i class="fa fa-github"></i>
                            &nbsp;
                            a.btn.btn-default Source <i class="fa fa-save"></i>
                            &nbsp;
                            a.btn.btn-primary Demo <i class="fa fa-eye"></i>
                .col-md-4
                    .panel.panel-primary
                        .panel-heading
                            h3.panel-title Example Lab Heading
                        .panel-body
                            figure
                                img(src="http://placehold.it/1800x700").img-responsive.img-thumbnail
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras elit nisl, porta non dictum et, consectetur vel felis. Aenean sed elit urna. Maecenas interdum non mi vitae posuere. Sed auctor consequat tellus. Nam non efficitur libero, a suscipit arcu. Curabitur orci risus, ornare et eros a, fermentum vulputate mauris. Praesent euismod mi consequat semper sollicitudin. Pellentesque id consectetur ex.
                        .panel-footer.text-right
                            a.btn.btn-default Repo <i class="fa fa-github"></i>
                            &nbsp;
                            a.btn.btn-default Source <i class="fa fa-save"></i>
                            &nbsp;
                            a.btn.btn-primary Demo <i class="fa fa-eye"></i>
                .col-md-4
                    .panel.panel-primary
                        .panel-heading
                            h3.panel-title Example Lab Heading
                        .panel-body
                            figure
                                img(src="http://placehold.it/1800x700").img-responsive.img-thumbnail
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras elit nisl, porta non dictum et, consectetur vel felis. Aenean sed elit urna. Maecenas interdum non mi vitae posuere. Sed auctor consequat tellus. Nam non efficitur libero, a suscipit arcu. Curabitur orci risus, ornare et eros a, fermentum vulputate mauris. Praesent euismod mi consequat semper sollicitudin. Pellentesque id consectetur ex.
                        .panel-footer.text-right
                            a.btn.btn-default Repo <i class="fa fa-github"></i>
                            &nbsp;
                            a.btn.btn-default Source <i class="fa fa-save"></i>
                            &nbsp;
                            a.btn.btn-primary Demo <i class="fa fa-eye"></i>