extends ./layout.jade

block title
    title Eray Aydın &middot; Installing Sudo on Arch Linux

block body
    section
        .container-fluid
            .row
                .col-md-2
                    .well.well-sm
                        h4
                            a(href="#") Example Link
                        p Description for link. About link description.