extends ./layout.jade

block title
    title Eray Aydın &middot; Installing Sudo on Arch Linux

block body
    section
        .container-fluid
            .row
                .col-md-9
                    .well.well-sm
                        p.remove-margin-b Its status update secretly.
                            span.text-muted.pull-right 02.01.2016 &middot; 06:56
                    .well.well-sm
                        p.remove-margin-b Its status update secretly.
                            span.text-muted.pull-right 02.01.2016 &middot; 06:56
                    .well.well-sm
                        p.remove-margin-b Its status update secretly.
                            span.text-muted.pull-right 02.01.2016 &middot; 06:56
                .col-md-3
                    .panel.panel-danger
                        .panel-heading
                            h3.panel-title What am I listening now?
                        .panel-body
                            .embed-responsive.embed-responsive-4by3
                                iframe(src="https://www.youtube.com/embed/dvgZkm1xWPE?list=RDMMa5uQMwRMHcs" frameborder="0" allowfullscreen).embed-responsive-item
                    .panel.panel-info
                        .panel-heading
                            h3.panel-title What is my feeling?
                        .panel-body.text-center
                            img(src="http://www.emoji-cheat-sheet.com/graphics/emojis/relaxed.png")
                            h4 Relaxed