extends ./layout.jade

block title
    title Eray Aydın &middot; Installing Sudo on Arch Linux

block body
    section
        .container-fluid
            .row
                .col-md-8
                    article.article
                        figure
                            a(href="post.html")
                                img(src="http://placehold.it/1800x350").img-responsive
                        h2
                            a(href="post.html") Installing Sudo for Arch Linux
                        .article-meta
                            p.text-muted Author: <a href="#">Eray Aydın</a> &middot; Date: 13.12.2015 &middot; Categories: <a href="#">Arch Linux</a>, <a href="#">Linux</a>
                        .article-body
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque mattis ante odio, at molestie massa imperdiet in. Phasellus vitae lorem varius lectus accumsan sollicitudin. Sed vel magna velit. Mauris auctor purus justo. Praesent pretium tristique mauris at venenatis. Donec suscipit tortor vitae nisi ullamcorper, sed pretium ipsum eleifend. Sed eu tortor a tortor eleifend convallis. Proin scelerisque eget diam et fringilla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer sed venenatis risus, sit amet convallis nunc.
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque mattis ante odio, at molestie massa imperdiet in. Phasellus vitae lorem varius lectus accumsan sollicitudin. Sed vel magna velit. Mauris auctor purus justo. Praesent pretium tristique mauris at venenatis. Donec suscipit tortor vitae nisi ullamcorper, sed pretium ipsum eleifend. Sed eu tortor a tortor eleifend convallis. Proin scelerisque eget diam et fringilla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer sed venenatis risus, sit amet convallis nunc.
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque mattis ante odio, at molestie massa imperdiet in. Phasellus vitae lorem varius lectus accumsan sollicitudin. Sed vel magna velit. Mauris auctor purus justo. Praesent pretium tristique mauris at venenatis. Donec suscipit tortor vitae nisi ullamcorper, sed pretium ipsum eleifend. Sed eu tortor a tortor eleifend convallis. Proin scelerisque eget diam et fringilla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer sed venenatis risus, sit amet convallis nunc.
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque mattis ante odio, at molestie massa imperdiet in. Phasellus vitae lorem varius lectus accumsan sollicitudin. Sed vel magna velit. Mauris auctor purus justo. Praesent pretium tristique mauris at venenatis. Donec suscipit tortor vitae nisi ullamcorper, sed pretium ipsum eleifend. Sed eu tortor a tortor eleifend convallis. Proin scelerisque eget diam et fringilla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer sed venenatis risus, sit amet convallis nunc.
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque mattis ante odio, at molestie massa imperdiet in. Phasellus vitae lorem varius lectus accumsan sollicitudin. Sed vel magna velit. Mauris auctor purus justo. Praesent pretium tristique mauris at venenatis. Donec suscipit tortor vitae nisi ullamcorper, sed pretium ipsum eleifend. Sed eu tortor a tortor eleifend convallis. Proin scelerisque eget diam et fringilla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer sed venenatis risus, sit amet convallis nunc.
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque mattis ante odio, at molestie massa imperdiet in. Phasellus vitae lorem varius lectus accumsan sollicitudin. Sed vel magna velit. Mauris auctor purus justo. Praesent pretium tristique mauris at venenatis. Donec suscipit tortor vitae nisi ullamcorper, sed pretium ipsum eleifend. Sed eu tortor a tortor eleifend convallis. Proin scelerisque eget diam et fringilla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer sed venenatis risus, sit amet convallis nunc.
                .col-md-4
                    h3.remove-margin-t Categories
                    .list-group
                        a(href="#").list-group-item PHP
                        a(href="#").list-group-item Laravel
                        a(href="#").list-group-item Arch Linux
                        a(href="#").list-group-item Linux
                        a(href="#").list-group-item CentOS